/*
Header styling
*/

.nav-bar {
    display: flex;
    top: 0;
    background-color: #586984;
    width: 100%;
    height: 2.5rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.right {
    justify-content: right;
}

.nav-list li {
    padding-top: 0.5rem;
    padding-inline: 1rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/*
Footer styling
*/


.footer {
    position: fixed;
    bottom: 0;
    background-color: #586984;
    width: 100%;
    height: 1rem;
    padding-left: 1rem;
}

div.main-content {
    overflow-y: auto;
    position: fixed;
    background-color: #95bfdb;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 98%;
}

.tentti {
    margin: 2rem;
    width: calc(100% - 4rem);
}

.tentti-edit {
    margin-top: 2rem;
}

.link {
    padding-inline: 1rem;
}

.tentti-lista {
    padding-top: 1rem;
}

div.kysymys {
    padding-bottom: 1rem;
}

h3.tentti-title {
    font-size: 2rem;
}

div.vastaus {
    padding-top: 0.4rem;
}

div.kysymys-rivi {
    display: flex;
    width: 100%;
}

div.kysymys-rivi input {
    position: relative;
    height: 1rem;
    margin-left: 2rem;
    align-self: center;
}

.text-input {
    margin-left: 2rem;
}
